
/* Your CSS Code here. */
 table, th, td {
      border: 1px solid black;
    }

    th, td {
      padding: 8px;
      text-align: center;
    }

    .black-cell {
      background-color: black;
      color: white;
      font-weight: bold;
    }


    a {
      color: purple;
      text-decoration: underline;
    }

    th {
      font-weight: bold;
    }